<!DOCTYPE html>
<html>

<head>
    {% include 'analytics.html' %}

    <title>Omar Elmofty</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <header>
        <h1>Omar Elmofty</h1>
    </header>

    <main class="horizontal-container">
        <figure class="profile-figure">
            <img class="flex-image" src="{{ url_for('static', filename='profile-pic.jpg') }}" alt="Omar Elmofty">
            <figcaption>Sensō-ji, Tokyo, Japan</figcaption>
        </figure>

        <div class="bio">
            <p>I'm Omar, a seasoned robotics developer specializing in robotic motion planning and controls.<br><br>

                🎓 I earned a Bachelor's in Mechanical Engineering from McMaster University and a Master's Degree in
                Aerial Robotics from the University of Toronto.<br><br>

                🤖 I currently work as a Senior Autonomy Developer at Clearpath, where I've been actively contributing
                to diverse projects centered around motion planning, trajectory generation, and control systems over the
                past 3 years.<br><br>

                💡 Innovation runs through my veins—Prior to pursuing my graduate studies, I worked as a project
                manager at Honda of Canada Mfg., where I earned two patents for pioneering mechanical designs that
                significantly enhanced automotive manufacturing processes.<br><br>

                💻 Proficient in C++, Python and ROS, I have a passion for programming and love finding elegant software
                solutions to complex problems.<br><br>

                🏞️ Besides work, I find joy in the outdoors—jogging, hiking, and cycling are my favorite
                hobbies.<br><br>

                🇪🇬🇨🇦 Originally from Cairo, Egypt, I now live in the Greater Toronto Area in Ontario,
                Canada.<br><br>
            </p>
            <div class="vertical-container">
                <a href="https://www.linkedin.com/in/omar-s-elmofty" target="_blank">
                    <img src="{{ url_for('static', filename='linkedin_logo.png') }}" style="width: 100px;"
                        alt="LinkedIn Logo">
                </a>
                <a href="https://medium.com/@oelmofty" target="_blank">
                    <img src="{{ url_for('static', filename='medium_logo.png') }}" style="width: 120px; margin: 10px;"
                        alt="Medium Logo">
                </a>
                <a href="https://github.com/Omar-Elmofty" target="_blank">
                    <img src="{{ url_for('static', filename='github_logo.png') }}" style="width: 110px; margin: 10px;"
                        alt="Github Logo">
                </a><br>
                <a href="/patents" class="btn">Patents</a>
                <div><br></div>
                <a href="/personal_projects" class="btn">Personal Projects</a>
                <div><br></div>
                <a href="/knowledge_compendium" class="btn">Knowledge Compendium</a>
            </div>
        </div>
    </main>
</body>

</html>