<!DOCTYPE html>
<html>

<head>
    {% include 'analytics.html' %}

    <title>Personal Projects</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <h1>Personal Projects</h1>
    <div class="vertical-container">
        <div class="horizontal-container">
            <a href="/portfolio">
                <figure class="side-figure">
                    <img class="flex-image" src="{{ url_for('static', filename='portfolio-analyzer.jpg') }}"
                        alt="Portfolio Optimizer">
                    <figcaption>Portfolio Optimizer</figcaption>
                </figure>
            </a>

            <div class="bio">
                <p>
                    Try out the Portfolio Optimizer tool at <a href="/portfolio"
                        target="_blank">omarelmofty.com/portfolio</a><br><br>

                    In this project, I created a stock portfolio optimizer designed to enhance portfolio performance by
                    maximizing the Sharpe ratio, which balances return and risk. The tool enables users to input various
                    stock tickers, retrieve historical prices, and perform optimizations to achieve the optimal Sharpe
                    ratio. It features a user-friendly interface and provides detailed analysis, including annual
                    return, volatility, alpha, beta, and max drawdown. This assists investors in making informed
                    decisions to enhance their portfolio's returns while minimizing risk, ensuring a well-balanced and
                    optimized investment strategy.<br><br>

                    For more details on how the tool works, checkout my blog post <a
                        href="https://medium.com/@oelmofty/i-created-my-own-stock-portfolio-optimizer-09d830ef503b">here</a>.
                </p>
            </div>
        </div>
    </div>
</body>

</html>