<!DOCTYPE html>
<html>

<head>
    {% include 'analytics.html' %}

    <title>Personal Projects</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <h1>Personal Projects</h1>
    <div class="vertical-container">
        <div class="horizontal-container">
            <a href="/portfolio">
                <figure class="side-figure">
                    <img class="flex-image" src="{{ url_for('static', filename='portfolio-analyzer.jpg') }}"
                        alt="Portfolio Optimizer">
                    <figcaption>Portfolio Optimizer</figcaption>
                </figure>
            </a>

            <div class="bio">
                <p>
                    Try out the Portfolio Optimizer tool at <a href="/portfolio"
                        target="_blank">omarelmofty.com/portfolio</a><br><br>

                    In this project, I created a stock portfolio optimizer designed to enhance portfolio performance by
                    maximizing the Sharpe ratio, which balances return and risk. The tool enables users to input various
                    stock tickers, retrieve historical prices, and perform optimizations to achieve the optimal Sharpe
                    ratio. It features a user-friendly interface and provides detailed analysis, including annual
                    return, volatility, alpha, beta, and max drawdown. This assists investors in making informed
                    decisions to enhance their portfolio's returns while minimizing risk, ensuring a well-balanced and
                    optimized investment strategy.<br><br>

                    For more details on how the tool works, checkout my blog post <a
                        href="https://medium.com/@oelmofty/i-created-my-own-stock-portfolio-optimizer-09d830ef503b">here</a>.
                </p>
            </div>
        </div>

        <div class="horizontal-container">
            <a href="/factory_simulator">
                <figure class="side-figure">
                    <img class="flex-image" src="{{ url_for('static', filename='factory-simulator.png') }}"
                        alt="Factory Simulator">
                    <figcaption>Factory Simulator</figcaption>
                </figure>
            </a>

            <div class="bio">
                <p>
                    Try out factory simulator at <a href="/factory_simulator"
                        target="_blank">omarelmofty.com/factory_simulator</a><br><br>

                    This personal project is an implementation of a discrete event simulation designed to model and
                    analyze manufacturing processes. The simulation focuses on the flow of materials and products
                    through a manufacturing system, capturing events such as machine operations, material handling, and
                    process queues. By simulating these events, the project aims to provide insights into system
                    performance, identify bottlenecks, and optimize production efficiency. This tool can be used to
                    improve decision-making in manufacturing environments by predicting the impacts of changes in
                    processes and resources.<br><br>
                </p>
            </div>
        </div>
    </div>
</body>

</html>